body {
	margin: 0 auto;
	font-family: Helvetica;
}

nav {
	height: 20px;
	padding: 10px;
	background-color: black;	
}

nav a {
	text-decoration: none;
	color: #D1D1D1;
	padding: 15px;
/*	margin: 15px;*/
}

nav a:hover {
	color: white;

}

.main {
	margin: 0 auto;
	padding: 20px
}

.main h1 {
	margin: 0 auto;
}

.content-div {
	margin: 40px;
}

ul {
/*	display: inline;*/
	list-style: none;
	padding: 0px;
}

ul li{
/*	display: inline;*/
	margin: 10px;
/*	float: left;*/

}

.flash {
	margin: 0 auto;
	color: #33CC33;
	padding: 15px;
}

.bad-flash {
	color: #CF0000;
	margin: 0 auto;
	padding: 15px;
}

.right-align {
	float: right;
}

form input {
	width: 250px;
	display: block;
	margin-bottom: 10px;
}

textarea {
	width: 250px;
	display: block;
	margin-bottom: 10px;
}
